<div class="registration-container" fxLayout="column">
  <app-unauth-header></app-unauth-header>
  <ng-container *ngIf="!isCardChosen">
    <div class="breadcrumb-container" fxLayout fxLayoutAlign="flex-start center">
      <div class="back-icon">
        <button routerLink="/auth/login" class="secondary-btn h6" mat-button>
          <mat-icon>keyboard_backspace</mat-icon>
          Back
          <!-- <div>Back</div> -->
        </button>
      </div>
    </div>
    <div class="registration-type-container" fxLayout="column" fxLayoutAlign="center center">
      <div class="title h1">Let's get you started</div>
      <div class="sub-title h4">Please choose the type of registration</div>
      <div class="card-container" fxLayout fxLayoutAlign="space-between" fxLayoutGap="15px">
        <mat-card (click)="chooseType(card.type)" *ngFor="let card of cards" class="register-card">
          <mat-card-content>
            <div fxLayout class="card-content">
              <div fxFlex="50" class="card-image">
                <img [src]="card.url" alt="" />
              </div>
              <div fxFlex="50" class="card-text" fxLayout fxLayoutAlign="center center">
                <div class="h2">{{ card.text }}</div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isCardChosen">
    <router-outlet></router-outlet>
  </ng-container>
</div>
