{
  "baseURL": "https://agent-cust-data-service.herokuapp.com",
  "spaURL": "https://data-portal-90f9c.firebaseapp.com/",
  "auth": {
    "refreshPath": "/refresh",
    "refreshTokenTimeoutInMs": 3000
  }
}